{
  "CustomVotesEnabled": true,
  "VoteCooldown": 60,
  "ChatPrefix": "[{DarkBlue}CustomVotes{Default}]",
  "ForceStyle": "none",
  "CustomVotes": [
    {
      "Command": "cheats",
      "CommandAliases": [],
      "Description": "Vote to enable sv_cheats",
      "Details": "Vote to enable sv_cheats",
      "TimeToVote": 30,
      "Options": {
        "Enable": {
          "Text": "{Green}Enable",
          "Commands": [
            "sv_cheats 1"
          ]
        },
        "Disable": {
          "Text": "{Red}Disable",
          "Commands": [
            "sv_cheats 0"
          ]
        }
      },
      "DefaultOption": "Disable",
      "Style": "chat",
      "MinVotePercentage": -1,
      "PanoramaDisplayToken": "#SFUI_vote_panorama_vote_default",
      "PanoramaPassedToken": "#SFUI_vote_passed_panorama_vote",
      "PanoramaPassedDetails": "Vote Passed!",
      "UsePanoramaVote": false,
      "Permission": {
        "RequiresAll": false,
        "Permissions": []
      }
    }
  ],
  "ConfigVersion": 5
}